/* @import url('http://example.com/example_style.css'); */

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/*****************************************/
/* Start your style declarations here    */
/*****************************************/
#jbu-shield{display:block}
svg#Black{display:none;}

--marine: #043768;
  --light-blue: #199ddc;
  --dark-gray: #434343;
  --mid-gray: #8e8e8e;
  --light-gray: #fafafa;

.container{
  display:block;
   padding: 0;
  position:relative; 
 clear:both;
  width:100%;
  height:100%;
  overflow:hidden;
  
}
.container-flex{
  display:flex;
  flex-wrap: wrap;
  padding: 0;
  position:relative; 
 width:100%;
   height:100%;
  overflow:hidden;
}
.container-flex-center{
  display:flex;
  flex-wrap: wrap;
  padding: 0;
   width:100%;
   height:100%;
  position:relative;  
  align-items: center;
  justify-content: center;
}
.container-flex-right{
  display:flex;
  flex-wrap: wrap;
  padding: 0;
  position:relative;  
   width:100%;
   height:100%;
  align-items: right;
  justify-content: right;
}



.clear-fix{ clear:both;}

.jbu-carousel-container {
    position: relative;
    width: 100%;
}

img{width:100% !important;height: 100% !important ; object-fit:cover;}

iframe {
    width: 100%;
    height: 100%;
}
div#my-player {
    height: 100%;
}
.jbu-password-reset {
    height: 450px;
}
/* JBU FACULTY PROFILE */
.jbu-faculty-search {    padding-top: 2rem;}
.jbu-faculty-profile-show{display:block;}
.jbu-faculty-profile-hide{display:none;}
.jbu-faculty-staff-carousel-block-image {    width: 100%; padding:1rem 0;}
.jbu-faculty-profile-title p{ font-size:18px;}
.jbu-faculty-profile,.jbu-faculty-profile-link{position:relative; width:100%; height:100%;}
.jbu-back-faculty-list{padding-right: 0.51rem;  line-height: 2.5;}
a.hvr-icon-forward.hvr-underline-from-center.jbu-back-faculty-list:hover {
    opacity: 1;
}
.jbu-faculty-profile-cont-image{width:100%}
.jbu-faculty-profile-cont-text {width:100%}

.jbu-faculty-profile-image { height:412px;    width: 100%;  }
.jbu-faculty-profile-cont-text-pad{padding: 1rem 0 0 0;}
.jbu-faculty-profile-content-text h1 {margin-bottom:8px;}
.jbu-faculty-profile-title p{color:#199ddc; font-size:18px;}

.jbu-sub-text p {font-size:14px !important; opacity:.7;}
.border-bottom { font-weight: 800; border-bottom: 2px solid #199ddc !important;  padding-bottom:.15rem; position:relative;width: fit-content;}

.border-bottom:hover i, .border-bottom-white:hover i {display:inline-block;}
.border-bottom:hover{border-bottom: 2px solid #199ddc;  padding-top:0; opacity:1;}
.border-bottom-white {color:#fff!important;  font-weight: 800; border-bottom: 2px solid #fff;     padding-bottom: 0.15rem;width: fit-content; }

.border-bottom-white:hover {border-bottom: 2px solid #ffffff; color:#fff!important;  cursor:pointer; opacity:1; }

default{background-color:#FFFFFF;}
.light-gray{background-color:#fafafa;}
.gray{background-color:#8e8e8e;}
.dark-gray{background-color:#434343;}

.jbu-header-title { padding-top:8rem;}
.jbu-header-title h1{font-size:100px; font-weight:900;}
.jbu-header-subtitle  {padding-top:9.5rem;}
.jbu-header-subtitle p  {font-size: 1.5rem;}

/* icons */
.fa-arrow-right {margin-left:.75rem; font-size:16px;}
.jbu-header-arrow-down {color: #fff;font-size: 2.5rem;}

.long-arrow-left {
 color: #fff;
  font-weight: 700;
    text-align: center;
    font-size: 10vw; 
    line-height: 1.25; }
.long-arrow-left:after {
  content: "\27F5";
}
.long-arrow-right {
 color: #fff;
  font-weight: 700;
    text-align: center;
    font-size: 10vw; 
    line-height: 1.25; }
.long-arrow-right:after {
  content: "\27F6";
}

.font-regular{font-family:'ProximaNova-Regular' !important; font-weight:100;}
.font-bold{font-family:'ProximaNova-Regular' !important; font-weight:700;}
.font-bolder{font-family: 'ProximaNova-Extrabld'!important;}



/*padding*/
.jbu-sections-content-box  {padding: 24px 16px;}
.jbu-text-content-box {padding: 0 16px;}
.box-none{padding:0;}
.box {  padding: 16px 0; }
.box-top{padding:16px 0 0;}
.box-bottom{padding:0 0 16px;}
.box-top-bottom{padding:16px 0;}
.box-left-right{ padding:0 0; }
.box-right{padding: 0 16px 0 0;}
.box-thin-top {padding:10px 0 0;}
.box-thin {padding:10px 0;}
.box-extra {  padding: 24px 0; }
/*Image Widths */
.jbu-image-box-w-519{  width: 100%; position:relative;}
.jbu-image-box-w-519-591{ width:  100%; position:relative;}
.jbu-image-box-size-519-550,.jbu-image-box-size-626-550, .jbu-image-box-size-519-550-left{height:283px;width: 100%;  }
.column-1-column-1, .column-2-column-1,.column-2-column-2,.column-3-column-1,.column-3-column-2,.column-3-column-3  {
   margin:16px; position:relative; width:100%; height:100%;
}

.jbu-column-section,.jbu-column-1.jbu-column-2,.jbu-column-2-cont,.jbu-column-3,.jbu-column-3-cont{position:100%; width:100%; height:100%;}

/*KISSMETRICS CHECK*/

.ksmtrc {
    padding: 0 2rem;
}
.ksmtrc ul li svg{
  width: 16px;
    margin: 0 5px;
    position: absolute;
    left: 3rem;
    padding-top: 0.50rem;
    fill: #0BDBA5;
}
.ksmtrc ul li {list-style-type: none;}
 .collapsible {
    font-size: 20px!important;
    color: #043768;
    cursor: pointer;
    padding: 0;
    width: 100%;
    border: 0;
    text-align: left;
    outline: 0;
    border-radius: unset;
    width: 100%;
    display: inline-flex;
}
 .collapsible:after {
    content: "\002B";
    color: #043768;
    position: relative;
    right: 0;
    font-size: 1.75rem!important;
    font-weight: 100;
    line-height: 1.15;
    display: inline-flex;
    height: 100%;
    align-items: center;
    margin-left: auto;
}
.collapsible.active, .collapsible.active:after {
  content: "\2212";
  color: #199ddc;
}
.content {
  font-size:16px;
  display: none;
  overflow: hidden;
  width: 100%;
  color:#3e3e3e;
  opacity:.9;
}
.lineleft1 {
  animation: 2s anim-lineLeft ease-out infinite;
}
@keyframes anim-lineLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  20% {
    opacity: 0;
  }
   30% {
    opacity: .3;
  }
  40% {
    opacity: .4;
  }
  50% {
    opacity: .5;
  
  }
   60% {
    opacity: .6;
   
  }
   70% {
    opacity: .7;
    
  }
   80% {
    opacity: .8;
    
  }
  100% {
    opacity: 1;
    transform: translateX(30%);
  }
}
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
   opacity:0;  /* make things invisible upon start */
   animation:fadeIn ease-in 1;
   animation-fill-mode:forwards;
   animation-duration:1.4s;
  }
 
.fade-in.delayed {
  animation-delay: 1.4s;
}
div#gstxboxCont {
    color: transparent;
    z-index: 99999;
}
div#gstxboxCont p {
    font-size: 18px;
    color: #fff;
    font-family: 'ProximaNova-Extrabld';
    left: 2.2rem;
    position: fixed;
    top: 3.4rem;
}
.robly_field_group.input_group {
    width: auto;
    display: flex;
      padding: 0.25rem 0;
}
@media (min-width: 768px)  {
 
  .jbu-faculty-profile-image { height:600px;  }
  
   .jbu-column-2-cont{ width:50%;}
  .jbu-column-2-cont-1{padding-right:8px !important;}
 .jbu-column-2-cont-2{padding-left:8px !important;}
   .jbu-column-3-cont{width:33.333%;}
  .jbu-column-3-cont-1{padding-right: 16px !important;}
 .jbu-column-3-cont-3{padding-left:16px !important;}
  .jbu-image-box-size-519-550,.jbu-image-box-size-626-550, .jbu-image-box-size-519-550-left{height:500px;width: 100%;  }
} 
@media (min-width: 1024px)  {
  div#gstxboxCont p {
   
    font-size: 50px;
    top: 2.2rem;
    left:3rem;

}
  .jbu-faculty-search{position:absolute; top: 7rem; right:2rem;}
  .jbu-faculty-profile-link{width:unset;}
  .jbu-faculty-staff-carousel-block-image {    width: 450px; padding:1rem;    min-height: 450px;}
  .jbu-faculty-profile-cont-image{width:450px;}
  .jbu-faculty-profile-cont-text {width:450px;}
  .jbu-faculty-profile-image {
       height: 361px;   
    max-width: 412px;
}
  .faculty-hover-state:hover{opacity:.6;}
  .jbu-faculty-profile-cont-text-pad{padding: 0 0 0 0;}
  
  .jbu-column-section{margin: 0 auto; max-width:1366px;}
  .column-1-column-1{  padding:16px 50px;}
  .column-2-column-1,.column-2-column-2{width:50%;}
  .column-3-column-1,.column-3-column-2,.column-3-column-3  {   }
  .column-2-column-1,.column-3-column-1{padding:16px 0 16px 50px}
 .column-2-column-2,.column-3-column-3 {  padding:16px 50px 16px 0}
   .column-3-column-2  {padding:16px 0 16px 0}
  .jbu-text-content-box {padding: 0;}
  
  .box-center-old {
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
 .box-center {
    display: flex;
    flex-direction: column;    
    flex-wrap: wrap;
    justify-content: center;
}
  .box-center-550 {min-height: 550px; } 
  .box-center-600 {min-height: 600px; }

.box-center-veritical > div  {
  margin: 0 auto;
}
 .jbu-image-box-size-519-550, .jbu-image-box-size-626-550{height: 550px; margin-left: auto;width: auto; }
  .jbu-image-box-size-519-550,.jbu-image-box-size-519-550-left{max-width:450px;}
  .jbu-image-box-size-626-550{width:626px;}
  .jbu-image-box-size-519-550-left{height: 550px;width: auto;}
  .jbu-sections-content-box  {  padding:16px 0; } 
.box {  padding:16px 50px; } 
.box-left-right{ padding:0 50px; }
.box-top{padding:16px 0 0;}
 .box-thin-top {padding:10px 50px; 0;}
  .box-top-bottom{padding:16px 0;}
  .box-thin {padding:10px 50px;}
.box-extra {  padding: 24px 50px; }
.jbu-image-box-w-519, .jbu-image-box-w-519-591{ width:  50%;}
  .ksmtrc ul li svg{
 
    left: 5rem;
   
}
  .container-vert-center-absolute{
       top: 50% !important; 
    transform: translate(0%,-50%);
}
}
@media (min-width: 1280px)  {
 
    .jbu-faculty-staff-carousel-block-image {    width: 300px; }
  .jbu-faculty-profile-cont-image{width:550px}
  .jbu-faculty-profile-cont-text {width:626px}
  .jbu-faculty-profile-cont-text-pad{padding: 0 5rem 0 0;}
   
.jbu-image-box-size-519-550, .jbu-image-box-size-519-550-left {
    max-width: 519px;

}
  
}